@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  background-color: #3F86C3;
  width: 50%;
  border: 3px solid #1A4366;
  text-align: center;
}

.Button {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #22303C;
  margin: 3.5vh;
}

.Button:hover {
  cursor: pointer;
  transition: 1s;
  background-color: black;
}

.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  padding-top: 20px;
  color: white;
  background-color: #3F86C3;
  width: 50%;
  border: 3px solid #1A4366;
  text-align: center;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  padding-top: 30px;
  color: white;
  background-color: #3F86C3;
  width: 50%;
  border: 3px solid #1A4366;
  text-align: center;
}